<div class="row" *ngIf="cards">

    <div class="columns">
        <dashboard-column [cards]="cards['TODO']" title="TODO"></dashboard-column>
    </div>
    <div class="columns">
        <dashboard-column [cards]="cards['IN_PROGRESS']" title="PROGRESS"></dashboard-column>
    </div>
    <div class="columns">
        <dashboard-column [cards]="cards['VERIFIED']" title="VERIFIED"></dashboard-column>
    </div>
    <div class="columns">
        <dashboard-column [cards]="cards['DELIVERED']" title="DELIVERED"></dashboard-column>
    </div>

    <div class="columns">
        <h4>MESSAGES</h4>
        <instant-messages-thread [messages]="messages" (messagePosted)="sendMessage($event)"></instant-messages-thread>
    </div>

</div>